.bar_border{
    width: 960px;
    margin: 0 auto;
    background-color: #f9f9f9;
    height: 40px;
}
.bar_border .bar {    
    float: right;
    padding-top: 2px;
}
.bar li{
    float: right;
    height: 22px;
    padding-top: 4px;
    line-height: 21px;
    position: relative;
    z-index: 100;
    background-color: #f1f1f1;
}
 
.bar li a {
    font-size: 15px;
    display: block;
    position: relative;
    line-height: 21px;
    padding: 0 7px 0 8px;
}
/* 鼠标移动到选项上修改背景颜色 */
.bar li a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}